/* Importação das fontes do projeto */
@font-face {
    font-family: Quicksand-Light;
    src: url(../fonts/Quicksand-Light.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-light: #f4f4f4;
    --color-dark: #222222;
    --color-orange: #ff6600;
    --color-orange-100: rgba(255, 102, 0, 0.4);
    --spacing-sm: 10px;
    --spacing-md: 30px;
}

html{
    scroll-behavior: smooth;
    font-family: Quicksand-Light;
}

ul, ol{
    list-style: none;
}

a{
    color: var(--color-light);
    font-weight: 700;
    text-decoration: none;

    &:hover{
        color: var(--color-orange);
    }
}

.hero{
    height: 100dvh;
    /* ../ "sai" da pasta atual e permite acessar outras */
    background-image: linear-gradient(to top, rgba(0, 0, 0, .8), rgba(0, 0, 0, .4)),
    url(../images/motos/banner.jpg);
    
    background-repeat: no-repeat;
    
    /* as imagens de fundo tendem a se multiplicar, o comando abaixo impede isso, faz com que ela cubra toda tela */
    background-size: cover;
    
    /* pega o ponto central da imagem e coloca no centro da tela, pode */
    background-position: 50%;

    /* scrolla a tela e deixa a imagem para trás */
    background-attachment: fixed;
}
    
.header-hero{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: var(--spacing-md);
}

.nav-hero-menu{
    display: flex;
    gap: var(--spacing-md);
}

h1{
    color: var(--color-light);
}

.cta{
    min-height: calc(100dvh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-md);
    color: var(--color-light);
    text-align: center;
}

.cta h2{
    font-size: 7vmin;
    text-wrap: balance;
}

.cta p{
    width: 60%;
    text-wrap: balance;
    line-height: 1.6;
}

.btn{
    border: 2px solid var(--color-orange);
    background-color: var(--color-orange-100);
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: 100px;
    transition: .5s;

    &:hover{
        background-color: transparent;
    }
}

.galeria{
    padding: var(--spacing-md);
    background-color: var(--color-dark);
    color: var(--color-light);

    h2{
        margin-bottom: var(--spacing-md);
        font-size: 6vmin;
    }

    .grid-motos{
        columns: 3 300px;

        img{
            width: 100%;
            margin-block: var(--spacing-sm);
            border-radius: 8px;
            opacity: .5;
            filter: grayscale(1);
            transition: .5s;
            position: relative;

            &:hover{
                opacity: 1;
                filter: grayscale(0);
                scale: 1.15;
                z-index: 1;
            }
        }
    }
}

section{
    min-height: 100dvh;
}